.subwayContent {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .subwayArrival {
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
        align-items: center;
        justify-content: space-between;

        .time {
            width: 1.5em;
        }

        .animation {
            flex: 1;
            margin-left: 10px;
            position: relative;
            height: 16px;
            width: 100%;
            border-radius: 3px;
            opacity: 0.5;
            // --position: 0%; /* Default value */
        }
    
        .animation::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 16px;
            border-radius: 100%;
            background: var(--fontColorMuted);
            transition: margin-left 0.3s ease; /* Animate margin-left */
            margin-left: var(--position);
        }

    }


}