.subwayContent {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .subwayArrival {
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
        align-items: center;
        justify-content: space-between;

        .time {
            width: 1.5em;
        }

        .animation {
            flex: 1;
            margin-left: 10px;
            position: relative;
            height: 16px;
            width: 100px;
            // background: var(--backgroundColor);
            border-radius: 3px;
            opacity: 0.5;
        }

        .animation::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: var(--fontColorMuted);
            border-radius: var(--borderRadiusSm);
            transition: width 0.3s ease;
            width: var(--width);
        }

    }


}